<!doctype html>
<html lang="en" class="no-js">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cocktail Rater</title>

    <link rel="stylesheet" href="/components/normalize.css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    {% block header %}{% endblock %}
  </head>

  <body>
    <!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <header>
        <h1>Cocktail Rater</h1>
        <div id="user-controls">
            <a href="/login">Login</a> |
            <a href="/register">Register</a>
        </div>
    </header>

    {% if message %}
      <div>{{ message }}</div>
    {% endif %}

    <div id="content">
        {% block content %}{% endblock %}
    </div>

    <footer>
        This is the demo application for Modern Application Development in PHP<br>
        &copy; Tom Oram 2015
    </footer>
  </body>
</html>
